@charset 'utf-8';
/*for ie f6n.net*/
/*for ff f6n.net*/
/* -- 购物车外部框架 -- */
/* -- 页面整体布局 -- */
/*焦点图*/
/*头部开始*/
/*底部开始*/
/*底部结束*/
/*解决IE6下滚动抖动的问题*/
/*解决IE6下不兼容 position:fixed 的问题*/
a {
  text-decoration: none;

  color: #333;
  &:focus {
    outline: 0;
  }
  &:hover {
    text-decoration: underline;

    color: #295796;
  }
}
.vam {
  vertical-align: middle;
}
.clear {
  font-size: 0;
  line-height: 0;

  clear: both;
  overflow: hidden;

  height: 0;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
.center {
  text-align: center;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fw {
  font-family: '微软雅黑','宋体';
}
.pa {
  position: absolute;
}
.pr {
  position: relative;
}
.mt8 {
  margin-top: 8px;
}
.mt11 {
  margin-top: 11px;
}
.ml14 {
  margin-left: 14px;
}
.cart_header {
  width: 960px;
  margin: 10px auto;
}
.cart_content {
  width: 960px;
  margin: 10px auto;
}
.cart_footer {
  width: 960px;
  margin: 10px auto;
}
.header {
  width: 1020px;
  margin: 0 auto;
}
.footer {
  width: 1020px;
  margin: 0 auto;
}
.content {
  overflow: hidden;

  width: 1020px;
  margin: 0 auto;
  padding: 0 3px;
}
.left {
  float: left;
  overflow: hidden;

  width: 208px;
}
.left2 {
  float: left;
  overflow: hidden;

  width: 670px;
}
.left3 {
  float: left;
  overflow: hidden;

  width: 754px;

  color: #666;
}
.lefttop {
  font-size: 0;

  overflow: hidden;

  height: 3px;

  background: url(../img/left_top_img.gif) no-repeat;
}
.left2top {
  font-size: 0;

  overflow: hidden;

  height: 3px;

  background: url(../img/left2_top_img.gif) no-repeat;
}
.leftbot {
  font-size: 0;

  overflow: hidden;

  height: 3px;
  margin-bottom: 10px;

  background: url(../img/left_bot_img.gif) no-repeat;
}
.left2bot {
  font-size: 0;

  overflow: hidden;

  height: 3px;
  margin-bottom: 10px;

  background: url(../img/right_bot2_img.gif) no-repeat;
}
.right {
  display: inline;
  float: right;
  overflow: hidden;

  width: 801px;
}
.right2 {
  float: right;
  overflow: hidden;

  width: 275px;
}
.right3 {
  float: right;
  overflow: hidden;

  width: 201px;

  color: #666;
}
.righttop {
  font-size: 0;

  overflow: hidden;

  height: 3px;

  background: url(../img/right_top_img.gif) no-repeat;
}
.right2top {
  font-size: 0;

  overflow: hidden;

  height: 3px;

  background: url(../img/right2_top_img.gif) no-repeat;
}
.rightbot {
  font-size: 0;

  overflow: hidden;

  height: 3px;
  margin-bottom: 10px;

  background: url(../img/right_bot_img.gif) no-repeat;
}
.right2bot {
  font-size: 0;

  overflow: hidden;

  height: 3px;
  margin-bottom: 10px;

  background: url(../img/left_bot2_img.gif) no-repeat;
}
.right_main {
  overflow: hidden;

  width: 100%;
  padding-bottom: 15px;

  background: #fff;
}
.right2_main {
  overflow: hidden;

  width: 273px;
  padding-bottom: 15px;

  border: solid 1px #d5d5d5;
  border-top: 0;
  border-bottom: 0;
  background: #fff;
}
.left2_main {
  overflow: hidden;

  width: 668px;

  border: solid 1px #d5d5d5;
  border-top: 0;
  border-bottom: 0;
  background: #fff;
}
#kinMaxShow {
  visibility: hidden;
  overflow: hidden;

  width: 1020px;
  height: 270px;
  .kinMaxShow_button {
    width: 100%;

    text-align: center;
    li {
      display: inline-block;
      float: none !important;

      border: none !important;
      border-radius: 50%;
    }
  }
}
.head {
  overflow: hidden;

  width: 100%;

  background: url(../img/hd_bg.jpg) center top repeat;
}
.top {
  overflow: hidden;

  width: 100%;
  height: atuo;
}
.logo {
  margin-left: 3px;
  padding-top: 7px;
}
.login {
  line-height: 21px;

  overflow: hidden;

  height: 21px;

  color: #fff;
  background: url(../img/loginbg.jpg) no-repeat right;
  a {
    padding: 0 7px;

    color: #fff;
  }
}
.lang {
  font-size: 15px;

  display: block;

  padding-top: 47px;

  color: #000;
  a {
    margin: 0 10px;
  }
}
.menu {
  line-height: 41px;

  overflow: hidden;

  height: 41px;

  background: url(../img/nav_bg.jpg) repeat-x;
  li {
    float: left;
    a {
      font-size: 16px;

      display: inline-block;

      height: 41px;
      padding: 0 15px;

      letter-spacing: 1px;

      color: #fff;
      &:hover {
        text-decoration: none;

        background-color: #b3a917;
      }

    }

  }
  li.current-menu-item {
          a {
        text-decoration: none;

        background-color: #b3a917;
      }
  }
  .nones {
    background: none;
  }
}
.search {
  overflow: hidden;
  overflow: hidden;

  width: 100%;
  height: 42px;

  background-color: #f4f4f4;
}
.ss1 {
  margin-top: 10px;
}
.k2 {
  line-height: 23px;

  width: 472px;
  height: 23px;
  margin-left: 5px;
  padding-left: 23px;

  color: #b8b5b2;
  border: 1px solid #c2c2c2;
  background: url(../img/ss_bg.gif) no-repeat #fff;
}
.bandi {
  width: 960px;
  height: 13px;

  background: url(../img/bdi.gif) no-repeat;
}
.xw_lf {
  margin-left: 10px;
}
.footnav {
  height: 24px;
  padding-top: 20px;

  color: #feffff;
  background: url(../img/fgx1.gif) repeat-x bottom;
  a {
    padding: 0 14px;

    color: #feffff;
  }
}
.font2 {
  line-height: 25px;

  padding: 20px 0 15px;

  text-align: center;

  color: #fff;
}
.btn2 {
  a {
    padding: 0 10px;
  }
}
.font3 {
  line-height: 21px;

  padding: 10px 20px;

  color: #b2b3b5;
  a {
    padding: 0 11px;

    color: #b2b3b7;
  }
}
.foot {
  margin: 10px auto 0;

  background: #295795;
  .text-r {
    color: #000;
    a {
      color: #000;
    }
  }
}
html {
  background-image: url(about:blank);
  background-attachment: fixed;
}
#code {
  position: fixed;
  z-index: 10000;
  right: 0;
  bottom: 50px;

  width: 39px;
  height: 41px;

  cursor: pointer;

  background: url(../img/icon.png) no-repeat;
  background-position: -276px -258px;

  _position: absolute;
  _bottom: auto;
  _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
  _margin-bottom: 120px;
}
#code_hover {
  position: fixed;
  z-index: 10000;
  right: 0;
  bottom: 50px;

  width: 39px;
  height: 41px;

  cursor: pointer;

  background: url(../img/icon.png) no-repeat;
  background-position: -316px -258px;

  _position: absolute;
  _bottom: auto;
  _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
  _margin-bottom: 120px;
}
#gotop {
  position: fixed;
  z-index: 10000;
  right: 0;
  bottom: 96px;

  width: 39px;
  height: 41px;

  cursor: pointer;

  background: url(../img/icon.png) no-repeat;
  background-position: -276px -310px;

  _position: absolute;
  _bottom: auto;
  _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
  _margin-bottom: 67px;
}
#code_img {
  position: fixed;
  z-index: 10000;
  right: 40px;
  bottom: 0;

  display: none;

  width: 270px;
  height: 355px;

  cursor: pointer;

  background: url(../img/icon.png) -4px -3px no-repeat;

  _position: absolute;
  _bottom: auto;
  _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
  _margin-bottom: 67px;
}
