@charset 'utf-8';
.uls2 {
  li {
    a:active {
      font-weight: 700;

      text-decoration: none;

      color: #265490;
    }
  }
}


.button-bg {
  height: 23px;
  padding-right: 12px;
  padding-left: 12px;

  border: none;
  background: url(../img/se_btn.png) no-repeat;
  background-size: cover;
}

.jj_tit {
  height: auto;
}


ul.uls2 {
  .current_page_item,
  .current-cat {
    a {
      font-weight: bold;

      color: #265490;
    }
  }
}

ul.mainPageList {
  li {
    padding-left: 10px;
    &:before {
      font-size: 18px;

      padding-right: 8px;

      content: '·';

      color: black;
    }
    &:after {
      font-size: 12px;

      position: absolute;



      content: '>>';

      color: black;
    }
    ul {
      display: none;
    }
  }
}
